@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.content {
    grid-column: 4 / 11;
    padding: 1em;
}

.content-title {
    color: $primary-color;
}

.section-informations p,
.section-informations span,
.section-informations a {
    color: $font-color-primary;
}

.section-awards,
.section-certificates,
.section-publications,
.section-skills,
.section-languages,
.section-interests,
.section-references {
    padding-top: 0.5em;
    border-top: 2px solid white;
}

.section-basics {
    gap: 0.5em;
}

.section-basics,
.section-contact,
.section-profiles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5em;
    margin: 0;
}

.section-basics > div,
.section-contact > div,
.section-profiles > div {
    width: fit-content;
    gap: 0.5em;
}

.section-informations,
.section-work,
.section-education,
.section-volunteer,
.section-projects {
    margin-bottom: 0.5em;
    padding-top: 0.5em;
    border-top: 2px solid $primary-color;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}