{{#if startDate}}
  <code class="date">
    <span class="startDate">{{Y startDate}}</span>
    {{#if endDate}}
      <span class="endDate">- {{Y endDate}}</span>
    {{else}}
      <span class="endDate">- Aujourd'hui</span>
    {{/if}}
  </code>
{{/if}}
