{{#resume.basics}}
<header class="header">
    <h1 class="name">{{{nameSplit name}}}</h1>
    <h2 class="label">{{label}}</h2>

    {{#if summary}}
    <section class="summary section">
        <p>{{paragraphSplit summary}}</p>
    </section>
    {{/if}}
</header>
{{/resume.basics}}