{{#if resume.interests.length}}
<section id="interests" class="section">
    <h2 class='section-title'>Interests</h2>
    {{#each resume.interests}}
    <div class="item">
        {{#if name}}
        <p class="name">
            {{name}}
        </p>
        {{/if}}
        {{#if keywords.length}}
        <ul class="keywords">
            {{#each keywords}}
            <li>{{.}}</li>
            {{/each}}
        </ul>
        {{/if}}
    </div>
    {{/each}}
</section>
{{/if}}