{{#if resume.interests.length}}
<section id="interests" class="section section-interests">
    <h2 class="section-title sidebar-title">Interests</h2>
    {{#each resume.interests}}
    <div>
        {{#if name}}
        <p class="name">
            {{name}}
        </p>
        {{/if}}
        {{#if keywords.length}}
        <ul class="keywords">
            {{#each keywords}}
            <li>{{.}}</li>
            {{/each}}
        </ul>
        {{/if}}
    </div>
    {{/each}}
</section>
{{/if}}