{{#if resume.languages.length}}
<section id="languages" class="section">
    <h2 class='section-title'>Languages</h2>
    {{#each resume.languages}}
    <div class="display">
        {{#if language}}
        <p class="language">
            {{language}}
        </p>
        {{/if}}
        {{#if fluency}}
        <p class="fluency">
            {{fluency}}
        </p>
        {{/if}}
        <div class="bar"></div>
    </div>
    {{/each}}
</section>
{{/if}}