{{#if resume.languages.length}}
<section id="languages" class="section section-languages">
    <h2 class="section-title sidebar-title">LANGUES</h2>
    {{#each resume.languages}}
    <div>
        {{#if language}}
        <span>
            {{language}}
        </span>
        {{/if}}
        <span> : </span>
        {{#if fluency}}
        <span>
            {{fluency}}
        </span>
        {{/if}}
        <div class="bar"></div>
    </div>
    {{/each}}
</section>
{{/if}}