{{#if resume.skills.length}}
<section id="interests" class="section section-interests">
    <h2 class="section-title sidebar-title">SOFT SKILLS</h2>
    {{#each resume.skills}}
        {{#if (eq name "Soft Skills")}}
        <div>
            {{#if keywords.length}}
            <ul class="list-tags">
                {{#each keywords}}
                <li class="tag keyword">{{.}}</li>
                {{/each}}
            </ul>
            {{/if}}
        </div>
        {{/if}}
    {{/each}}
</section>
{{/if}}