$primary-color: #0077CC;
$secondary-color: #FFFFFF;
$font-color-primary: #333333;
$font-color-secondary: #F7F7F7;
$background-color: #FFFFFF;

$font-size-small: 0.6rem;
$font-size-regular: 0.8rem;
$font-size-medium: 1rem;
$font-size-large: 3rem;